<div class="drupal-chat">
  <div class="chat-window"></div>
  <div class="chat-input">
    <input type="text" class="chat-question" placeholder="{{ 'Escribe tu pregunta...'|t }}" />
    <button class="chat-send">{{ 'Enviar'|t }}</button>
  </div>
</div>
